# kdiff3 ignore
*.orig

# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath
bin/

# idea ignore
.idea/
*.ipr
*.iml
*.iws


# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
# system ignore
.DS_Store
Thumbs.db

# package ignore (optional)
# *.jar
# *.war
# *.zip
# *.tar
# *.tar.gz

# git ignore
.gitignore

# dev ignore
*.ver
*.vm
*.md
*versions.mapping
src/main/filters/dev/default.properties
catalina.home_IS_UNDEFINED/
/bin
*out/
target/

#class
examples/core/target
*.class
