# kdiff3 ignore
*.orig

# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath
bin/

# idea ignore
.idea/
*.ipr
*.iml
*.iws


# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
# system ignore
.DS_Store
Thumbs.db

# package ignore (optional)
# *.jar
# *.war
# *.zip
# *.tar
# *.tar.gz

# git ignore
.gitignore

# dev ignore
*.ver
*.vm
*.md
*versions.mapping
src/main/filters/dev/default.properties
catalina.home_IS_UNDEFINED/
/bin
b2c-web/src/main/webapp/include/ver/
classes/
b2c-admin/src/main/webapp/WEB-INF/views/refs/
b2c-admin/src/main/webapp/WEB-INF/views/ver/
b2c-admin/src/main/webapp/include/refs/
b2c-admin/src/main/webapp/include/ver/
b2c-frontend/src/main/webapp/include/ver/

*.mapping
b2c-admin/src/main/webapp/WEB-INF/views/touch/refs/
b2c-admin/src/main/webapp/include/touch/refs/

#class
examples/core/target
